[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "busybox"]
	path = busybox
	url = https://git.busybox.net/busybox
	branch = 1_35_stable
[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl
